.body{
    position: relative;
width: 4596px;
height: 440px;

background: rgba(59, 198, 89, 0.43);
}
.logo{
    position: absolute;
width: 1178px;
height: 277px;
left: 136px;
    top: -145px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 128px;
line-height: 155px;

color: #010101;
white-space: pre-line;
}
.line{
    position: absolute;
width: 343.18px;
height: 0px;
left: 946px;
top: 160px;

border: 10px solid #000000;
transform: rotate(91.84deg);
}
.p{
    position: absolute;
width: 860px;
height: 124px;
left: 1169px;
top: 186px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #000000;

}
.phone{
    position: absolute;
width: 1548px;
height: 176px;
left: 3580px;
top: 140px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 96px;
line-height: 116px;

color: #000000;

}
.header{
    position: relative;
width: 4596px;
height: 150px;

background: rgba(253, 243, 11, 0.98);
top: 300px;
}
.main-title{
    list-style-type: none;
}
.home{
    position: absolute;
width: 449px;
height: 115px;
left: 212px;
top: 23px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;
color:#000000
}
.about{
    position: absolute;
width: 327px;
height: 54px;
left: 867px;
top: 16px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
:hover.rental{
    color: red;
}
.rental{
    position: absolute;
width: 697px;
height: 107px;
left: 1400px;
top: 17px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.cars{
    position: absolute;
width: 803px;
height: 99px;
left: 2159px;
top: 17px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.lessons{
    position: absolute;
width: 855px;
height: 112px;
left: 3059px;
top: 23px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.contact{
    position: absolute;
width: 415px;
height: 84px;
left: 4074px;
top: 32px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;

}
.rules{
    position: absolute;
    width: 902px;
    height: 149px;
    left: 136px;
    top: 332px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 128px;
    line-height: 155px;
    text-align: center;
    color: #000000;
}
.title{
    position: absolute;
    width: 4201px;
    height: 320px;
    left: 172px;
    top: 447px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    text-align: justify;
    color: #000000;
}
.options{
    position: absolute;
width: 881px;
height: 123px;
left: 954px;
top: 856px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;
}
.title-title{
    position: absolute;
width: 1555px;
height: 1338px;
left: 617px;
top: 1057px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;
}
.documents{
    position: absolute;
width: 1055px;
height: 155px;
left: 3141px;
top: 856px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;

}
.title-title-title{
    position: absolute;
width: 1555px;
height: 1172px;
left: 2858px;
top: 1061px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;

}
.rates{
    position: absolute;
width: 787px;
height: 222px;
left: 1260px;
top: 2575px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;


}
.titlec{
    position: absolute;
    width: 1555px;
    height: 1338px;
    left: 693px;
    top: 2797px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    text-align: justify;
    
    color: #000000;
     
}
.insurance{
    position: absolute;
width: 708px;
height: 182px;
left: 3399px;
top: 2575px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: justify;

color: #000000;
}
.titlep{
    position: absolute;
    width: 1555px;
    height: 1172px;
    left: 2794px;
    top: 2797px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    text-align: justify;
    
    color: #000000; 
}
.policy{
    position: absolute;
    width: 842px;
    height: 43px;
    left: 1894px;
    top: 4475px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.footertitle{
    position: absolute;
    width: 464px;
    height: 87px;
    left: 1508px;
    top: 4475px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.line-2{
    position: absolute;
    width: 142.64px;
    height: 1.81px;
    left: 1760.48px;
    top: 4503px;
    border: 7px solid #000000;
    transform: matrix(0.01, 1, -1, 0.01, 0, 0);
}