.body{
    position: relative;
width: 4596px;
height: 440px;

background: rgba(59, 198, 89, 0.43);
}
.logo{
    position: absolute;
width: 1178px;
height: 277px;
left: 136px;
    top: -145px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 128px;
line-height: 155px;

color: #010101;
white-space: pre-line;
}
.line{
    position: absolute;
width: 343.18px;
height: 0px;
left: 946px;
top: 160px;

border: 10px solid #000000;
transform: rotate(91.84deg);
}
.p{
    position: absolute;
width: 860px;
height: 124px;
left: 1169px;
top: 186px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #000000;

}
.phone{
    position: absolute;
width: 1548px;
height: 176px;
left: 3580px;
top: 140px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 96px;
line-height: 116px;

color: #000000;

}
.header{
    position: relative;
width: 4596px;
height: 150px;

background: rgba(253, 243, 11, 0.98);
top: 300px;
}
.main-title{
    list-style-type: none;
}
.home{
    position: absolute;
width: 449px;
height: 115px;
left: 212px;
top: 23px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;
color:#000000
}
:hover.home{
    color:red;
}
.about{
    position: absolute;
width: 327px;
height: 54px;
left: 867px;
top: 16px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.rental{
    position: absolute;
width: 697px;
height: 107px;
left: 1400px;
top: 17px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.cars{
    position: absolute;
width: 803px;
height: 99px;
left: 2159px;
top: 17px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.lessons{
    position: absolute;
width: 855px;
height: 112px;
left: 3059px;
top: 23px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;
}
.contact{
    position: absolute;
width: 415px;
height: 84px;
left: 4074px;
top: 32px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #000000;

}
.servies{
    position: absolute;
    width: 1380px;
    height: 384px;
    left: 768px;
    top: 576px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 140px;
    line-height: 169px;
    color: #000000;
}
.Speedislife{
    position: absolute;
    width: 1444px;
    height: 368px;
    left: 2342px;
    top: 647px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}
.policy{
    position: absolute;
    width: 842px;
    height: 48px;
    left: 1605px;
    top: 2264px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.footertitle{
    position: absolute;
    width: 464px;
    height: 96px;
    left: 1203px;
    top: 2264px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.line-2{
    position: absolute;
    width: 155.99px;
    height: 1.81px;
    left: 1471.48px;
    top: 2292px;
    border: 7px solid #000000;
    transform: rotate(89.33deg);
}
.upbtn {
    /* z-index: 9999; */
    width: 70px;
    height: 90px;
    color: #FFF;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border:3px solid #BFE2FF;
    border-radius:50%;
    /* transform: scale(0); */
    transition: all .7s ease-in-out;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-color: #337AB7; */
    background-image: url(el.png)
}
.upbtn:hover {
    transform: scale(1.2)!important;
}
.btn-up {
    position: fixed;
    background-color: #3aa111;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }

  .btn-up::before {
    content: "";
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
    background-image: url("el.png");
  }

  .btn-up_hide {
    display: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #328b0e;
    }
  }
